.swiper {
    width: 100%;
    height: 630px;
    
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  

  }
  /*
  .shadow_slider {
     background: linear-gradient(180deg, #dadada00,#dadada00, #dadada00,#ffe1f1, #ffe1f1);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  

  }
  .shadow_slider1 {
    background: linear-gradient(180deg, #dadada00,#dadada00, #dadada00,#e57c0d, #e57c0d);
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
 

 }

 .shadow_slider2 {
    background: linear-gradient(180deg, #dadada00,#dadada00, #dadada00,   #308cf6, #5d38fe);
   position: absolute;

   inset: 0;
   width: 100%;
   height: 100%;
 

 }

 .shadow_slider3 {
    background: linear-gradient(180deg, #dadada00,#dadada00, #dadada00,#d8d6c8,#d8d6c8);
   position: absolute;

   inset: 0;
   width: 100%;
   height: 100%;
 

 }
 */